<table border="1">
<tr>
<td>
Issue ID
</td>
<td>
Summary
</td>
<td>
Reporter
</td>
</tr>

#foreach ($issue in $linkedIssues)
<tr>
<td>
$issue.getKey()
</td>
<td>
$issue.getSummary()
</td>
<td>
$issue.getReporter().getName()
</td>
<tr>
#end
</table